html {
	background-color: ;
	font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
}

h2{
    margin-bottom: 5%;
    
}

p {
	margin-right: 10%;
	margin-left: 10%;
    margin-bottom: 5%;
}

h3 {
	font-size: 130%;
	margin-top: 5%;
	margin-right: 2%;
	margin-left: 5%;
	font-weight: 700;
}

.assignment {
	margin-left: 10%;
	margin-right: 10%;
	line-height: 30px;

}

#web_image{
	width: 40%;
	height: auto;
	margin-right: auto;
	margin-left: 28%;
	padding-top: 5%;
}

figcaption{
	color: grey;
	font-size: 70%;
	margin-left: 25%;
}