body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background-color: floralwhite;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

#screensaver {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: none;
    transition: .5s ease;
    background-color: transparent;
    z-index: 100;
    
}

#container {
    margin: 0;
}

p{
    margin: 20px;
    margin-bottom: 5%;
    color:black;
    font-size: 40px;
    width: 75vw;
    z-index: 0;
}

#date {
    font-size: 20px;
}

#graf {
    font-size: 30px;
}

#about{
    position: absolute;
}


#ticker{
    position: absolute;
    bottom: 20px;
    margin: 20px;
    z-index: 100;
    font-size: 70px;
    color: white;
    mix-blend-mode: difference;
}